<form [formGroup]="loginForm">
    <div class="form">
        <div class="form-control">
            <label for="email">Email ou CPF</label>
            <input pInputText id="email" formControlName="email" [(ngModel)]="email" />
        </div>
        <div class="form-control">
            <label for="password">Senha</label>
            <input pInputText id="password" formControlName="password" [(ngModel)]="password" />
        </div>
    </div>
    <p-button label="ACESSAR" size="large"  />
    
    <div class="form-bottom-data">
        <p>Esqueceu a senha? <a href="">Acesse aqui</a></p>
        <span>Versão 0.01</span>
    </div>
</form>