<form [formGroup]="loginForm">
    <div class="form">
        <div class="form-control">
            <img src="assets/images/svg/check-circle.svg" alt="check">
            <label for="email">Email ou CPF</label>
            <input type="text" pInputText id="email" formControlName="email" [(ngModel)]="email" />
        </div>
        <div class="form-control">
            <img src="assets/images/svg/eye.svg" alt="eye" (click)="toggleShow()">
            <label for="password">Senha</label>
            <input [type]="password" pInputText id="password" formControlName="password" [(ngModel)]="pass" />
        </div>
    </div>
    <p-button label="ACESSAR" size="large" (click)="onSubmit()"  />
    
    <div class="form-bottom-data">
        <p>Esqueceu a senha? <a href="">Acesse aqui</a></p>
        <span>Versão 0.01</span>
    </div>
</form>