@if(!isMobile){
<div class="header">
    <div class="grid">
        <div class="col-12">
            <div class="header-content">
                <img src="assets/images/header/avatar.png" alt="Avatar">
                <div class="controls">
                    <a href="" title="Home">
                        <img src="assets/images/header/home.svg" alt="Home">
                    </a>
                    <a href="" title="Eye">
                        <img src="assets/images/header/eye.svg" alt="Eye">
                    </a>
                    <a href="" title="Repeat-alt">
                        <img src="assets/images/header/repeat-alt.svg" alt="Repeat-alt">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
}