<div class="login">
    <div class="login-container">
        <div class="login-data">
            <img src="./../../../assets/images/login/logo.png" alt="Navega" class="logo">
            <h5>Boas-vindas ao Portal!<br>
                Para começar, qual seu email ou CPF?</h5>
            <p>Precisamos desta confirmação para dar início ao seu acesso.</p>

            <app-login-form></app-login-form>
        </div>
    </div>
    @if(!isMobile){ 
        <div class="bg-login"></div>
    }
</div>