@use './app/shared/services/responsive-media/screen.scss';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
    padding: 0;
    margin: 0;
}



@include screen.screen-desktop-all() {
    .grid {
        max-width: 1136px;
        margin: 0 auto !important;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        padding: 1.0rem !important;
    }
}

@include screen.screen-mobile-all() {
    .grid {
        margin: 0 auto !important;
    }
}