@use 'font-size.scss' as *;
@use 'font-weight.scss' as *;
@use 'line-height.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$-font-family: "Poppins", sans-serif;

@mixin title-semiBold {
    font-family: $-font-family;
    font-weight: $font-weight-600;
    font-size: $font-size-md;
    line-height: $line-height-20;
}

@mixin title-semiBold-h4 {
    font-family: $-font-family;
    font-weight: $font-weight-600;
    font-size: $font-size-lg;
    line-height: $line-height-25;
}

@mixin title-regular {
    font-family: $-font-family;
    font-weight: $font-weight-400;
    font-size: $font-size-sm;
    line-height: $line-height-17;
}

@mixin paragraph-regular-12 {
    font-family: $-font-family;
    font-weight: $font-weight-400;
    font-size: $font-size-xs;
    line-height: $line-height-21;
}

@mixin paragraph-regular-14 {
    font-family: $-font-family;
    font-weight: $font-weight-400;
    font-size: $font-size-sm;
    line-height: $line-height-21;
}

@mixin placeholder-input {
    font-family: $-font-family;
    font-weight: $font-weight-400;
    font-size: $font-size-sm;
    line-height: $line-height-17;
}

@mixin label-button {
    font-family: $-font-family;
    font-weight: $font-weight-700;
    font-size: $font-size-sm;
    line-height: $line-height-17;
}

@mixin low-emphasis-sm {
    font-family: $-font-family;
    font-weight: $font-weight-400;
    font-size: $font-size-sm;
    line-height: $line-height-17;
}